c/examples/cblas_ex1
c/examples/cblas_ex2
c/testing/xccblat1
c/testing/xccblat2
c/testing/xccblat3
c/testing/xdcblat1
c/testing/xdcblat2
c/testing/xdcblat3
c/testing/xscblat1
c/testing/xscblat2
c/testing/xscblat3
c/testing/xzcblat1
c/testing/xzcblat2
c/testing/xzcblat3
